fastapi
uvicorn[standard]
sqlalchemy
psycopg[binary]
alembic
httpx
jdatetime
openpyxl
python-multipart
jdatetime==6.1.0
openpyxl==3.1.5
python-multipart==0.0.32
pytz==2026.3.post1
apscheduler==3.10.4
